<style type="text/css" scoped="">
.add_title{
  padding-top: 68px;
}
</style>
<template>
  <div>
    <concat_dialog_form 
    :err_msg="form_config.err_msg"
    :bg_class="bg_class"
    :list="list" 
    @close="close" 
    @submit="submit">
      <div class="add_title" slot="title">
        生成溯源码
      </div>
      <div slot="submit">
        <load_area :on_load="form_config.on_load" :btn_text="form_config.btn_text" :circle_class="form_config.circle_class"></load_area>
      </div>
    </concat_dialog_form>
  </div>
</template>
<script>
import base_dialog from '@/components/base_dialog.vue'
import concat_form from '@/components/concat_form.vue'
import concat_dialog_form from '@/modules/admins/concat_dialog_form.vue'
import load_area from '@/components/load_area.vue'

import {
  create_sku_code
} from '@/service'
import {
  get_token
} from '@/modules/stores'
export default {
  data () {
    return {
      form_val: {},
      form_config: {
        on_load: false,
        btn_text: '生成溯源码',
        circle_class: 'while_load_circle',
        err_msg: ''
      },
      bg_class: 'create_sku_bg',
      list: [
        // {
        //   type: 'text',
        //   text: '商品名称',
        //   name: 'goodsName',
        //   placeholder: '输入商品名称',
        //   value: ''
        // },
        {
          type: 'text',
          text: '数量',
          name: 'genNum',
          placeholder: '输入生成数量',
          value: ''
        },
        // {
        //   type: 'text',
        //   text: '商品编码',
        //   name: 'goodsCode',
        //   placeholder: '输入商品编码',
        //   value: ''
        // },
        // {
        //   type: 'img_upload_item',
        //   text: '商品图片',
        //   name: 'goodsPic',
        //   placeholder: '商品图片',
        //   value: ''
        // }
      ]
    }
  },
  props: {
    goods_id: {
      type: String,
      default () {
        return '';
      }
    }
  },
  methods: {
    close () {
      this.$emit('close');
    },
    async submit (form_val) {
      this.form_config.err_msg = '';
      this.form_config.on_load = true;

      form_val.token = get_token();
      form_val.goodsId = parseInt(this.goods_id);
      form_val.genNum  = parseInt(form_val.genNum);
      let data = await create_sku_code(form_val);

      if(data.errCode != 200){
        this.form_config.err_msg = data.errMsg;
        this.form_config.on_load = false;
        return;
      }
      this.form_config.on_load = false;

      this.$emit('success', data.data);
    }
  },
  components: {
    base_dialog,
    concat_form,
    load_area,
    concat_dialog_form
  }
}
</script>