<style type="text/css" scoped="">

</style>
<template>
  <div>
    <!-- <base_dialog @close="close">
      <div class="base_form_ct">
        <div class="base_form_bg"></div>

        <div class="concat_form_ct">
          <div class="action_form_title">修改商品</div>
          <concat_form v-model="form_val" :list="list"></concat_form>
          <br/>
          <a class="action_btn" @click="submit">添加</a>
        </div>

      </div>
    </base_dialog> -->
    <concat_dialog_form 
    :err_msg="form_config.err_msg"
    :bg_class="bg_class"
    :list="list" 
    :title="编辑" 
    @close="close" 
    @submit="submit">
      <div class="add_title" slot="title">
        编辑商品
      </div>
      <div slot="submit">
        <load_area :on_load="form_config.on_load" :btn_text="form_config.btn_text" :circle_class="form_config.circle_class"></load_area>
      </div>
    </concat_dialog_form>
  </div>
</template>
<script>
import base_dialog from '@/components/base_dialog.vue'
import concat_form from '@/components/concat_form.vue'
import concat_dialog_form from '@/modules/admins/concat_dialog_form.vue'
import load_area from '@/components/load_area.vue'
import {
  update_goods
} from '@/service'
import {
  get_token
} from '@/modules/stores'
export default {
  data () {
    return {
      form_val: {},
      bg_class: 'change_product_form_bg',
      form_config: {
        on_load: false,
        btn_text: '编辑商品',
        circle_class: 'while_load_circle',
        err_msg: ''
      },
      list: [
        // 
        {
          type: 'text',
          text: 'goodsId',
          name: 'goodsId',
          placeholder: '输入goodsId',
          hide: true,
          value: '',
        },
        {
          type: 'text',
          text: '商品名称',
          name: 'goodsName',
          placeholder: '输入商品名称',
          value: ''
        },
        {
          type: 'text',
          text: '品牌',
          name: 'goodsBrand',
          placeholder: '输入品牌',
          value: ''
        },
        {
          type: 'text',
          text: '商品编码',
          name: 'goodsCode',
          placeholder: '输入商品编码',
          value: ''
        },
        {
          type: 'img_upload_item',
          text: '商品图片',
          name: 'goodsPic',
          placeholder: '商品图片',
          value: ''
        }
      ]
    }
  },
  props: {
    value: {
      type: Object,
      default () {
        return {}
      }
    }
  },

  watch: {
    'value' () {
      this.init_val();
    }
  },

  mounted () {
    this.init_val();
  },

  methods: {
    init_val () {
      this.list.forEach(row => {
        row.value = this.value[row.name];
      });
    },
    close () {
      this.$emit('close');
    },
    async submit (form_val) {
      this.form_config.err_msg = '';
      this.form_config.on_load = true;

      form_val.token = get_token();
      let data = await update_goods(form_val);
      console.log( form_val );
      // console.log(data);
      // console.log(this.form_val);

      if(data.errCode != 200){
        this.form_config.err_msg = data.errMsg;
        this.form_config.on_load = false;
        return ;
      }
      this.form_config.on_load = false;
      this.$emit('success', form_val);
    }
  },
  components: {
    base_dialog,
    concat_form,
    load_area,
    concat_dialog_form
  }
}
</script>