<style scoped="">
.topic_ct{
  border-bottom: 1px solid #DBDBDB;
}
.about_us_topic{
  padding-top: 154px;
  padding-left: 198px;
  padding-right: 198px;
  padding-bottom: 177px;
  box-sizing: border-box;
  position: relative;
}
.img_bg{
  position: absolute;
  transform: scale(0.5);
  z-index: -1;
  top: 0px;
  left: 68px;
}
h1{
  font-size: 57px;
  line-height: 68px;
  color: #1D1D1D;
  text-align: center;
}
.topic_des{
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-top: 20px;
}
@media (max-width: 700px){
  .about_us_topic{
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  h1{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
  }
  .topic_des{
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
    color: #676666;
    font-size: 14px;
    padding: 20px;
  }
  .img_bg{
    left: -84px;
    top: -102px;
    transform: scale(0.25);
  }
}
</style>
<template>
  <div class="topic_ct">
    <div class="about_us_topic comm_width">
      <img src="关于我们-配图@2x.png" class="img_bg">
      <h1> 创造公平可持续的<br/>信任经济生态 </h1>
      <p class="topic_des">
        杭州数与科技于2017年在中国杭州成立，由资深的区块链底层开发团队EOS原力创立，致力于建设<br/>
        开放的信任经济基础设施。我们旨在消除信任建立的成本，通过区块链技术变革生产关系，<br/>
        创造公平可持续的信任经济生态。
      </p>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {}
  },

  methods: {

  }
}
</script>