<style scoped="">
h3{
  font-size: 42px;
  color: #353553;
  line-height: 1;
  text-align: center;
}
.forms_ct{
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  padding-top: 74px;
}
.form_item{
  display: flex;
  align-items: center;
}
.form_item_tag{
  color: #353556;
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
  padding-right: 15px;
}
.form_item_text{
  color: #717188;
  line-height: 42px;
  border: 1px solid #dbdbdb;
  padding-left: 10px;
  padding-right: 10px;
}
.map_ct{
  /*height: 400px;*/
  background-color: #eee;
}
.map_ct img{
  display: block;
  width: 100%;
}
@media (max-width: 700px){
  .forms_ct{
    display: block;
    padding: 0px 14px;
    padding-bottom: 10px;
  }
  .form_item{
    display: block;
  }
}
</style>
<template>
  <div class="comm_width">
    <h3>联系我们</h3>

    <div class="forms_ct">
      <div class="form_item">
        <div class="form_item_tag">联系电话</div>
        <div class="form_item_text">0571-87166753</div>
      </div>
      <div class="form_item">
        <div class="form_item_tag">联系邮箱</div>
        <div class="form_item_text">service@shuyuchain.com</div>
      </div>
      <div class="form_item">
        <div class="form_item_tag">公司地址</div>
        <div class="form_item_text">杭州市余杭区欧美金融城T4美国中心3104室</div>
      </div>
    </div>

    <div class="map_ct">
      <a href="https://j.map.baidu.com/61/946" target="_blank">
        <img src="1578645004290.jpg">
      </a>
    </div>

  </div>
</template>
<script>
export default {
  data ()  {
    return {}
  },
  methods: {

  }
}
</script>