<style scoped="">
.documents{
  background-color: #F5F6F8;
  padding-bottom: 110px;
  padding-top: 60px;
}
.documents_title{
  font-size: 36px;
  line-height: 1;
  color: #353556;
  padding-bottom: 55px;
  text-align: center;
}

.documents_list_ct{
  display: flex;
  align-items: center;
  justify-content: center;
}
.documents_list_ct li{
  list-style: none;
  padding: 10px;
  height: 380px;
  width: 268px;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  margin-right: 98px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1607843137254902);
}
.documents_list_ct li:last-child{
  margin-right: 0px;
}
.documents_list_ct li .document_item_pic_ct{
  height: 173px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.documents_list_ct li .document_item_pic_ct img{
  display: block;
  max-width: 100%;
}
.documents_list_ct li .document_item_tag{
  color: #717188;
  font-size: 16px;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 15px;
}
.documents_list_ct li .document_item_title{
  font-size: 24px;
  line-height: 1;
}
.documents_list_ct li .view_document{
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  padding: 10px 0px;
  /*background-color: #ddd;*/
  color: #0D5EE5;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.documents_list_ct li .view_document:hover{
  /*background-color: #eee;*/
  opacity: 0.9;
}
.documents_list_ct li .view_document .view_document_icon{
  display: block;
  width: 20px;
  height: 15px;
  background-image: url('../assets/images/查看更多@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 800px){
  .documents_list_ct{
    flex-wrap: wrap;
  }
  .documents_list_ct li{
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
  }
  .documents_list_ct li .document_item_pic_ct{
    overflow: hidden;
  }
  .documents_list_ct li .document_item_tag{
    font-size: 13px;
  }
  .documents_list_ct li .view_document{
    position: relative;
    padding: 0px;
    top: auto;
    bottom: auto;
    left: auto;
    margin-left: 10px;
    margin-top: 10px;
  }
  .documents_list_ct li .document_item_title{
    font-size: 18px;
  }
  .documents_title{
    font-size: 20px;
    padding-bottom: 30px;
  }
  .documents{
    padding-top: 30px;
  }
  .documents_list_ct li:last-child{
    margin-right: 10px;
  }
}
</style>
<template>
  <div class="documents">
    <h2 class="documents_title">{{ lang.data['View Development Document'] }}</h2>
    <ul class="documents_list_ct">

      <li>
        <div class="document_item_pic_ct">
          <img src="../assets/images/eosc开源代码@2x.png">
        </div>
        <div class="document_item_tag">
          {{ lang.data['Blockchain'] }}
        </div>
        <div class="document_item_title">
          {{ lang.data['View EOSC Open Source Code EOSC'] }}
        </div>
        <a target="_blank" class="view_document" href="https://github.com/eosforce/eosforce">
          <span>{{ lang.data['View More'] }}</span>
          <span class="view_document_icon">
          </span>
        </a>
      </li>

      <li>
        <div class="document_item_pic_ct">
          <img src="../assets/images/智能合约开发文档@2x.png">
        </div>
        <div class="document_item_tag">
          {{ lang.data['Smart Contract'] }}
        </div>
        <div class="document_item_title">
          {{ lang.data['Smart Contract Development Document'] }}
        </div>
        <a target="_blank" class="view_document" href="https://eosforce.github.io/Documentation/#/zh-cn/contract/overview">
          <span>{{ lang.data['View More'] }}</span>
          <span class="view_document_icon">
          </span>
        </a>
      </li>

      <li>
        <div class="document_item_pic_ct">
          <img src="../assets/images/节点部署运维文档@2x.png">
        </div>
        <div class="document_item_tag">
          {{ lang.data['Node'] }}
        </div>
        <div class="document_item_title">
          {{ lang.data['Node Operation & Maintenance Deployment Document'] }}
        </div>
        <a target="_blank" class="view_document" href="https://eosforce.github.io/Documentation/#/zh-cn/eosforce_bp">
          <span>{{ lang.data['View More'] }}</span>
          <span class="view_document_icon">
          </span>
        </a>
      </li>

    </ul>
  </div>
</template>
<script>
import { lang, set_lang } from '@/data/langs/index.js'
export default {
  data () {
    return {
      lang
    }
  },

  methods: {

  }
}
</script>