<style scoped="">
.foot{
  font-size: 14px;
  padding-top: 160px;
  text-align: center;
  padding-bottom: 48px;
  color: #9E9E9E;
  padding: 20px;
  line-height: 30px;
}
</style>
<template>
  <div class="foot">
    Copyright @2017-2020 杭州数与科技有限公司 All Rights Reserved.浙ICP备18031307号-1
  </div>
</template>
<script>
export default {
  data () {
    return {

    }
  },

  methods: {

  }
}
</script>