<style scoped="">
.product_router_node{
  padding: 20px 17px;
  padding-bottom: 0px;
  box-shadow: 0px 2px 3px #e6e6e6;
  font-size: 13px;
}
.item{
  position: relative;
  padding-left: 20px;
  padding-right: 12px;
  border-left: 1px solid #F3F3F3;
  padding-bottom: 40px;
}
.item_circle_position{
  position: absolute;
  left: -10px;
  top: -3px;
}
.item_circle{
  background-color: rgba(7, 140, 244, 0.2);
  width: 19px;
  height: 19px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic_2{
  width: 14px;
  height: 14px;
  background-color: rgba(7, 140, 244, 0.5);
}
.ic_3{
  width: 9px;
  height: 9px;
  background-color: rgba(7, 140, 244, 1);
}
.ic_4{
  width: 14px;
  height: 14px;
}
.gray_ic{
  background-color: rgba(110, 110, 111, 0.2);
}
.t1{
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}
.text_pane{
  background-color: #F3F3F3;
  padding: 10px;
  margin-top: 16px;
}
.t2{
  font-weight: bold;
  padding-bottom: 7px;
}
.t3{
  line-height: 18px;
  word-break: break-all;
}
.t4{
  line-height: 18px;
  padding-top: 18px;
}
</style>
<template>
  <div class="product_router_node white_bg">

    <!-- item_start -->
    <div class="item" v-for="item, index in record" :key="index">

      <div class="item_circle_position item_circle">
        <div class="item_circle ic_2">
          <div class="item_circle ic_3"></div>
        </div>
      </div>

      <div class="t1">
        <!-- {{ item.actionInfo }} -->
        {{ item.nodeId + item.nodeRole + item.nodeActorId + item.nodeActorRole }}
        {{ action_dict[item.nodeAction] }}
      </div>

      <div class="text_pane">
        <div class="t2">存证hash：</div>
        <div class="t3">
          {{ item.checksum }}
        </div>
      </div>

      <div class="t4">
        {{ item.nodeRole }} <br/>
        物流单：{{ item.shipNum }} <br/>
        {{ item.recordTime }} <br/>
      </div>

    </div>
    <!-- item_end -->

  </div>
</template>
<script type="text/javascript">
import {
  action_dict
} from '@/service'

export default {
  data () {
    return {
      action_dict
    }
  },
  props: {
    record: {
      type: Array,
      default () {
        return []
      }
    },
    sku_id: {
      type: String,
      default () {
        return '...'
      }
    }
  },
  methods: {

  }
}
</script>