<style scoped="">
.product_brief{
  padding: 20px 17px;
  padding-bottom: 0px;
  box-shadow: 0px 2px 3px #e6e6e6;
}
.t1{
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 24px;
}
.items_ct{
  padding-top: 15px;
  border-bottom: 1px solid #F3F3F3;
}
.item{
  line-height: 28px;
  font-size: 12px;
  display: flex;
}
.item_t1{
  white-space: nowrap;
}
.item_t2{
  white-space: normal;
  word-break: break-all;
}
.bold_ft{
  font-weight: bold;
}
.i2{
  margin-left: 14px;
}
.view_ct{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.view_btn{
  color: #fff;
  background: #078CF4;
  display: block;
  height: 34px;
  padding: 0px 29px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_pic{
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  background-color: #eee;
}
</style>
<template>
  <div class="product_brief">
    <div  ref="product_pic"></div>
    <div class="product_pic" :style="get_bg(goods_pic)" v-if="goods_pic">

    </div>
    <div class="t1" >
      {{ goods_name || '金盏花舒缓爽肤水 控油收缩毛孔补水保湿' }}
    </div>
    <div class="items_ct">

      <div class="item">
        <span class="bold_ft item_t1">数字身份：</span>
        <span class="i2 item_t2">
          <span v-if="data.data.length">
            {{ data.data[ data.data.length - 1 ].checksum }}
          </span>
        </span>
      </div>
      <div class="item">
        <span class="bold_ft item_t1">商品编码：</span>
        <span class="i2 item_t2">{{ sku_id.substr(0, 13) }}</span>
      </div>

    </div>

    <div class="view_ct">
      <a class="view_btn" @click="go_to">查看证书</a>
    </div>

  </div>
</template>
<script type="text/javascript">
import {
  query_has_by_skuid
} from '@/service'
export default {
  data () {
    return {
      data: {
        on_load: false,
        data:[]
      }
    }
  },
  props: {
    sku_id: {
      type: String,
      default () {
        return ''
      }
    },
    goods_name: {
      type: String,
      default () {
        return ''
      }
    },
    goods_pic: {
      type: String,
      default () {
        return ''
      }
    }
  },
  mounted () {
    this.load();
  },
  methods: {
    async load () {
      let data = await query_has_by_skuid({'skuId': this.sku_id});
      this.data.data.splice(0, this.data.data.length, ...data.data);
      // this.data.data.txId = data.data[0].txId;
      // this.data.data.blockId = data.data[0].blockId;
    },
    go_to () {
      this.$router.push({
        name: 'product_cert',
        params: {
          sku_id: this.sku_id
        }
      })
    },
    get_bg (img) {
      // console.log('this.$refs.product_pic');
      // console.log(this.$refs.product_pic);
      console.log(this.$refs.product_pic.offsetWidth);
      // window.tkkk = this.$refs.product_pic;
      let width = this.$refs.product_pic.offsetWidth;
      let height = width * (310/702);
      return {
        'backgroundImage': `url(${img})`,
        'height': `${height}px`
      }
    }
  }
}
</script>