<style scoped="">
.qa_brief_record{
  padding: 20px 17px;
  box-shadow: 0px 2px 3px #e6e6e6;
}
.qa_text{
  color: #383838;
  display: flex;
  align-items: center;
}
.qa_icon{
  width: 16px;
  height: 16px;
  background-image: url(../assets/sy/问号@2x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.bold_ft{
  font-weight: bold;
}
.t1{
  padding-bottom: 16px;
}
</style>
<template>
  <div class="qa_brief_record ">
    <div class="t1">
      <span class="bold_ft">该商品的快递单号为：</span>
      <span>{{ express_num }}</span>
    </div>
    <div class="qa_text" @click="go_to">
      <div class="qa_icon"></div>
      <div style="color:#078cf4;">&nbsp;与你收到的不一致？</div>
    </div>
  </div>
</template>
<script type="text/javascript">
export default {
  data () {
    return {}
  },
  props: {
    express_num: {
      type: String,
      default () {
        return '...'
      }
    },
    sku_id: {
      type: String,
      default () {
        return '...'
      }
    }
  },
  methods: {
    go_to () {
      this.$router.push({
        name: 'report',
        params: {
          sku_id: this.sku_id
        }
      })
    }
  }
}
</script>