<style scoped="">
.record_brief_ct{
  display: flex;
  color: #383838;
  padding: 0px 17px;
  justify-content: space-between;
}
.record_v_item{
  width: 100%;
}
.record_item_title{
  color: #383838;
  padding: 8px 0px;
}
.record_item_text{
  color: #383838;
  padding: 8px 0px;
  font-weight: bold;
}
.text_left{
  text-align: left;
}
.text_center{
  text-align: center;
}
.text_right{
  text-align: right;
}
.right_arrow{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #383838;
  border-right: 2px solid #383838;
  transform: rotate(45deg);
}
</style>
<template>
  <div class="record_brief_ct white_bg" @click="to_brief">

    <div class="record_v_item">
      <div class="record_item_title">首次查询时间</div>
      <div class="record_item_text">{{ query_time }}</div>
    </div>

    <div class="record_v_item">
      <div class="record_item_title text_center">首次查询位置</div>
      <div class="record_item_text text_center">{{ query_location }}</div>
    </div>

    <div class="record_v_item">
      <div class="record_item_title text_right">扫码记录</div>
      <div class="record_item_text text_right">
        <span>查看详情</span>
        <span class="right_arrow"></span>
      </div>
    </div>

  </div>
</template>
<script>
export default {
  data () {
    return {}
  },
  props: {
    query_time: {
      type: String,
      default () {
        return '...'
      }
    },
    query_location: {
      type: String,
      default () {
        return '...';
      }
    },
    sku_id: {
      type: String,
      default () {
        return '...'
      }
    }
  },
  methods: {
    to_brief () {
      this.$router.push({
        name: 'product_router_history',
        params: {
          'sku_id': this.sku_id
        }
      })
    }
  }
}
</script>