<style type="text/css" scoped="">

</style>
<template>
  <div>
    <!-- <base_dialog @close="close">
      <div class="base_form_ct">
        <div class="base_form_bg"></div>

        <div class="concat_form_ct">
          <div class="action_form_title">修改商品</div>
          <concat_form v-model="form_val" :list="list"></concat_form>
          <br/>
          <a class="action_btn" @click="submit">添加</a>
        </div>

      </div>
    </base_dialog> -->
    <concat_dialog_form 
    :err_msg="form_config.err_msg"
    :bg_class="bg_class"
    :list="list" 
    :title="添加商品" 
    @close="$emit('close')" 
    @submit="submit">
      <div class="add_title" slot="title">
        修改密码
      </div>
      <div slot="submit">
        <load_area :on_load="form_config.on_load" :btn_text="form_config.btn_text" :circle_class="form_config.circle_class"></load_area>
      </div>
    </concat_dialog_form>
  </div>
</template>
<script>
import base_dialog from '@/components/base_dialog.vue'
import concat_form from '@/components/concat_form.vue'
import concat_dialog_form from '@/modules/admins/concat_dialog_form.vue'
import load_area from '@/components/load_area.vue'
import {
  change_password
} from '@/service'
import {
  get_token
} from '@/modules/stores'
export default {
  data () {
    return {
      form_val: {},
      bg_class: 'change_password_bg',
      form_config: {
        on_load: false,
        btn_text: '修改',
        circle_class: 'while_load_circle',
        err_msg: ''
      },
      list: [
        // userName
        {
          type: 'text',
          text: '用户名',
          name: 'userName',
          placeholder: '输入用户名',
          value: get_token('user_name'),
          hide: true,
          label_style: {
            width: '120px',
            minWith: '120px'
          }
        },
        {
          type: 'password',
          text: '原密码',
          name: 'oldPswd',
          placeholder: '输入原密码',
          value: '',
          label_style: {
            width: '120px',
            minWith: '120px'
          }
        },
        {
          type: 'password',
          text: '新密码',
          name: 'newPswd',
          placeholder: '输入新密码',
          value: '',
          label_style: {
            width: '120px',
            minWith: '120px'
          }
        },
        {
          type: 'password',
          text: '确认新密码',
          name: 'repeat_newPswd',
          placeholder: '确认新密码',
          value: '',
          label_style: {
            width: '120px',
            minWith: '120px'
          }
        },
      ]
    }
  },
  methods: {
    close () {
      this.$emit('close');
    },
    async submit (form_val) {
      this.form_config.on_load = true;

      form_val.token = get_token();
      let data = await change_password(form_val);

      if(data.errCode != 200){
        this.form_config.err_msg = data.errMsg;
        this.form_config.on_load = false;
        return;
      }

      this.$emit('success', data);

      this.form_config.on_load = false;
    },
  },
  components: {
    base_dialog,
    concat_form,
    load_area,
    concat_dialog_form
  }
}
</script>