<style type="text/css" scoped="">
.page_ct{
  display: flex;
  justify-content: center;
}
.page_ct .td_action_btn{
  min-width: 30px;
  padding: 0px 10px;
}
.page_ct .base_btn{
  background-color: rgba(0, 0, 0, 0);
}
.page_ct .base_btn:hover{
  background-color: #1D72FF;
}
</style>
<template>
  <div class="page_ct">
    <div class="td_action_btn " @click="select(current - 1)" v-if="current > 1">上一页</div>
    <div 
    class="td_action_btn" 
    v-for="item, index in [...new Array(total)]" 
    :class="{'blue_aciton_btn': index + 1 == current, 'base_btn': index + 1 != current}"
    @click="select(index + 1)"
    >
      {{ index + 1 }}
    </div>
    <!-- <div class="td_action_btn base_btn">1</div>
    <div class="td_action_btn blue_aciton_btn">1</div>
    <div class="td_action_btn base_btn">1</div>
    <div class="td_action_btn base_btn">1</div> -->
    <div class="td_action_btn " @click="select(current + 1)" v-if="current < total">下一页</div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      // total: 1,
      // current: 1
    }
  },
  props: {

    total: {
      type: Number,
      default () {
        return 1;
      }
    },

    current: {
      type: Number,
      default () {
        return 1;
      }
    }
  },
  computed: {
    'all_page' () {
      this.update_from_params();
      return this.params;
    },
  },
  mounted () {
    // this.update_from_params();
  },
  methods: {
    select (page) {
      if(page < 1 || page > this.total) return ;
      this.$emit('select', page);
    }
  }
}
</script>