<style scoped="">
.bg_all{
  background-image: url('../assets/images/SDPOA-2@2x.png'), 
  url('../assets/images/SDPOA共识@2x.png'), 
  url('../assets/images/水平分片技术-2@2x.png'), 
  url('../assets/images/状态断言机制-2@2x.png'), 
  url('../assets/images/状态映射证明-1@2x.png'), 
  url('../assets/images/子链证明-2@2x.png'), 
  url('../assets/images/水平分片技术-2@2x.png'), 
}

</style>
<template>
  <div>
    <header_nav></header_nav>
    <logistics_slider></logistics_slider>
    <service_description_pane :title="service_description_pane_config.title" :subtitle="service_description_pane_config.subtitle" :description="service_description_pane_config.description" :data="service_description_pane_config.data"></service_description_pane>
    <our_advantage :title="our_advantage_config.title" :description="our_advantage_config.description" :data="our_advantage_config.data"></our_advantage>

    <service_description_pane :title="platform_service_config.title" :subtitle="platform_service_config.subtitle" :description="platform_service_config.description" :data="platform_service_config.data"></service_description_pane>

    <!-- <solve_solution :title="solve_solution_config.title" :data="solve_solution_config.data"></solve_solution> -->
    <!-- <our_services></our_services> -->
    <!-- <text_slider></text_slider> -->
    <!-- <tech_analytics></tech_analytics> -->
    <!-- <budget_analytics></budget_analytics> -->
    <!-- <manage_way></manage_way> -->
    <!-- <tech_support></tech_support> -->
    <!-- <documents></documents> -->
    <!-- <road_map></road_map> -->
    <!-- <recent_news></recent_news> -->
    <!-- <deal_platform></deal_platform> -->
    <!-- <site_map></site_map> -->
    <platform_advantage :title="platform_advantage_config.title" :data="platform_advantage_config.data"></platform_advantage>
    <foot></foot>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import logistics_slider from '../modules/logistics_slider.vue'
import service_description_pane from '../modules/service_description_pane.vue'
import text_slider from '../modules/text_slider.vue'
import tech_analytics from '../modules/tech_analytics.vue'
import budget_analytics from '../modules/budget_analytics.vue'
import our_advantage from '../modules/our_advantage.vue'
import our_services from '../modules/our_services.vue'
import solve_solution from '../modules/solve_solution.vue'
import manage_way from '../modules/manage_way.vue'
import tech_support from '../modules/tech_support.vue'
import documents from '../modules/documents.vue'
import road_map from '../modules/road_map.vue'
import recent_news from '../modules/recent_news.vue'
import deal_platform from '../modules/deal_platform.vue'
import site_map from '../modules/site_map.vue'
import foot from '../modules/foot.vue'
import platform_advantage from '../modules/platform_advantage.vue'
export default {
  data () {
    return {
      platform_advantage_config: {
        title: '平台优势',
        data: [
          {
            title: '全流程服务',
            description: `

                实时记录商品从生产到物流仓储、零售
                端等各环节的全链路信息，并确保信息
                不可篡改和伪造，实现商品的全链路
                可信溯源。

            `,
            src: '全流程服务@2x.png'
          },
          {
            title: '零成本',
            description: `
                无需对现有生产设备及流程进行改造，
                只需在软件端接入溯源系统即可实现
                全链路溯源。
            `,
            src: '零成本@2x.png'
          },
          {
            title: '数据隐私保护和数据透明',
            description: `
                全渠道的销量明细实时记录并展现，
                有效帮助品牌商进行渠道管控，防止
                渠道供货混乱。
            `,
            src: '数据隐私保护和数据透明@2x.png'
          },
        ]
      },
      service_description_pane_config: {
        title: '产品简介',
        subtitle: '保证整个生态系统的公平、公正性',
        subtitle: '',
        data: [
          { 
            src: '数与产品简介-配图@2x.png',
            description: `
              以区块链技术体系为基础，保证整个生态系统的公平、公正性。 
              借助智能合约技术，构筑供应链上信任和服务的价值流动平台。
              利用数字签名、不可篡改和IOT等技术将商品的物流、资金流、
              信息流信息进行最小商品粒度全生命周期的追溯，助力零售商、
              品牌方、生产方、物流、仓储各个环节高效协同向新零售转型。
            `
          }
        ]
      },
      platform_service_config: {
        title: '平台服务',
        subtitle: '',
        data: [
          { 
            src: '可信协同平台-平台服务@2x.png',
            title: '全链路溯源',
            description: `
                实时记录商品从生产到物流仓储、零售端等各环节的全链路信息，
                并确保信息不可篡改和伪造，实现商品的全链路可信溯源。
            `
          },
          { 
            src: '快速校验真伪@2x.png',
            title: '商品真伪核验',
            description: `
                通过基于区块链技术的全链路溯源，精确记录每件商品的信息和流转过程，高效率查询商品可信来源，低成本实现商品真伪核验。
            `
          },
          { 
            src: '可信协同平台-平台服务@2x.png',
            title: '全渠道实时洞察',
            description: `
                全渠道的销量明细实时记录并展现，有效帮助品牌商进行渠道管控，防止渠道供货混乱。
            `
          },
          { 
            src: '多方数据协同共享@2x.png',
            title: '供应链高效协同',
            description: `
                数据实时通过区块链共享给上下游各个角色，不同角色根据不同的权限，查看相应信息。基于区块链不可篡改的特性，整个链路数据无法作假。
            `
          }
        ]
      },
      our_advantage_config: {
        title: '应用背景',
        data: [
          {
            title: '信任缺失',
            description: `
                            供应链上各环节由于缺乏足够的透明度，无法确保协作多方提供的信息的真实性和不可篡改性，参与各方难以形成信任。
                            `,
            src: '信任缺失@2x.png'
          },
          {
            title: '商品真伪判断失真',
            description: `
                            随着商品伪造手段的升级，商品核验的成本也越来越高，当消费者要求对商品进行鉴别时，品牌商和零售方常常难以低成本核验商品真伪。
                            `,
            src: '商品真伪判断失真@2x.png'
          },
          {
            title: '快速定位',
            description: `
                            由于传统供应链体系缺少不可篡改的溯源信息，当遇到假冒伪造商品时，品牌商与监管部门无法快速定位出造假源头。
                            `,
            src: '快速定位@2x.png'
          },
          {
            title: '数据孤岛',
            description: `
                            传统供应链由上游企业向下游逐层下放业务权力，信息流在这种层级结构中容易信息失真、传递不及时，导致信息严重不对称甚至被篡改。
                          `,
            src: '数据孤岛@2x.png'
          }
        ]
      },
      solve_solution_config: {
        title: '技术架构',
        data: [
          {
            nav: {
              'title': 'SDPOA共识',
              'img': 'SDPOA-2@2x.png'
            },
            content: {
              'background': 'SDPOA共识@2x.png',
              'title': 'SDPOA共识',
              'brief': `
                        以区块链技术体系为基础，保证整个生态系统的公平、公正性。 借助智能合约技术，构筑供应链上
                        信任和服务的价值流动平台。利用数字签名、不可篡改和IOT等技术将商品的物流、资金流、信息流
                        信息进行最小商品粒度全生命周期的追溯，助力零售商、品牌方、生产方、物流、仓储各个环节高效
                        协同向新零售转型。
                              `
            }
          },
          {
            nav: {
              'title': '水平分片技术',
              'img': '水平分片技术-2@2x.png'
            },
            content: {
              'background': '区块链溯源-配图@2x.png',
              'title': '水平分片技术',
              'brief': `
                        以区块链技术体系为基础，保证整个生态系统的公平、公正性。 借助智能合约技术，构筑供应链上
                        信任和服务的价值流动平台。利用数字签名、不可篡改和IOT等技术将商品的物流、资金流、信息流
                        信息进行最小商品粒度全生命周期的追溯，助力零售商、品牌方、生产方、物流、仓储各个环节高效
                        协同向新零售转型。
                              `
            }
          },
          {
            nav: {
              'title': '状态断言机制',
              'img': '状态断言机制-2@2x.png'
            },
            content: {
              'background': '区块链溯源-配图@2x.png',
              'title': '状态断言机制',
              'brief': `
                        以区块链技术体系为基础，保证整个生态系统的公平、公正性。 借助智能合约技术，构筑供应链上
                        信任和服务的价值流动平台。利用数字签名、不可篡改和IOT等技术将商品的物流、资金流、信息流
                        信息进行最小商品粒度全生命周期的追溯，助力零售商、品牌方、生产方、物流、仓储各个环节高效
                        协同向新零售转型。
                              `
            }
          },
          {
            nav: {
              'title': '状态映射证明',
              'img': '状态映射证明-1@2x.png'
            },
            content: {
              'background': '区块链溯源-配图@2x.png',
              'title': '状态映射证明',
              'brief': `
                        以区块链技术体系为基础，保证整个生态系统的公平、公正性。 借助智能合约技术，构筑供应链上
                        信任和服务的价值流动平台。利用数字签名、不可篡改和IOT等技术将商品的物流、资金流、信息流
                        信息进行最小商品粒度全生命周期的追溯，助力零售商、品牌方、生产方、物流、仓储各个环节高效
                        协同向新零售转型。
                              `
            }
          },
          {
            nav: {
              'title': '子链隔离',
              'img': '子链证明-2@2x.png'
            },
            content: {
              'background': '区块链溯源-配图@2x.png',
              'title': '子链隔离',
              'brief': `
                        以区块链技术体系为基础，保证整个生态系统的公平、公正性。 借助智能合约技术，构筑供应链上
                        信任和服务的价值流动平台。利用数字签名、不可篡改和IOT等技术将商品的物流、资金流、信息流
                        信息进行最小商品粒度全生命周期的追溯，助力零售商、品牌方、生产方、物流、仓储各个环节高效
                        协同向新零售转型。
                              `
            }
          },
        ]
      }
    }
  },
  mounted () {

  },
  methods: {

  },
  components: {
    header_nav,
    logistics_slider,
    service_description_pane,
    text_slider,
    tech_analytics,
    budget_analytics,
    manage_way,
    tech_support,
    documents,
    road_map,
    recent_news,
    deal_platform,
    site_map,
    our_advantage,
    our_services,
    solve_solution,
    platform_advantage,
    foot
  }
}
</script>