<template>
  <div>
    <header_nav :with_bottom_line="true"></header_nav>
    <solution_main></solution_main>
    <process_map_line></process_map_line>
    <column_item :title="column_item_config.title" :data="column_item_config.data"></column_item>
    <!-- <main_slider></main_slider> -->
    <!-- <our_advantage></our_advantage> -->
    <!-- <our_services></our_services> -->
    <!-- <solve_solution></solve_solution> -->
    <!-- <text_slider></text_slider> -->
    <!-- <tech_analytics></tech_analytics> -->
    <!-- <budget_analytics></budget_analytics> -->
    <!-- <manage_way></manage_way> -->
    <!-- <tech_support></tech_support> -->
    <!-- <documents></documents> -->
    <!-- <road_map></road_map> -->
    <!-- <recent_news></recent_news> -->
    <!-- <deal_platform></deal_platform> -->
    <!-- <site_map></site_map> -->
    <foot></foot>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import main_slider from '../modules/main_slider.vue'
import text_slider from '../modules/text_slider.vue'
import tech_analytics from '../modules/tech_analytics.vue'
import budget_analytics from '../modules/budget_analytics.vue'
import our_advantage from '../modules/our_advantage.vue'
import our_services from '../modules/our_services.vue'
import solve_solution from '../modules/solve_solution.vue'
import manage_way from '../modules/manage_way.vue'
import tech_support from '../modules/tech_support.vue'
import documents from '../modules/documents.vue'
import road_map from '../modules/road_map.vue'
import recent_news from '../modules/recent_news.vue'
import deal_platform from '../modules/deal_platform.vue'
import site_map from '../modules/site_map.vue'
import solution_main from '../modules/solution_main.vue'
import process_map_line from '../modules/process_map_line.vue'
import column_item from '../modules/column_item.vue'
import foot from '../modules/foot.vue'

export default {
  data () {
    return {
      solution_main_config: {
        title: '区块链医疗',
        subtitle: '基于区块链的数字医疗解决方案',
        description: `以区块链隐私计算为核心技术，区别医疗数据所有权、使用权和执行权，以形式化创建、验证智能合约，实现数据可信交换共享、可视化医疗知识交换。在保护病人的隐私信息和医疗机构的数据安全，同时能够将高精尖的医疗资源辐射到全球地区。`
      },
      column_item_config: {
        title: '商业价值',
        data: [
          {
            title: '医疗资源均质化',
            content: `基于智能合约技术实现优质医疗资源在边远地区的投放，为相关医疗机构的诊断决策提供帮助。
                    `,
            src: '医疗资源均质化@2x.png'
          },
          {
            title: '医疗隐私安全保障',
            content: `通过数据隔离和隐私计算技术，打造完备的隐私保护机制，有效保障患者隐私数据安全。
                    `,
            src: '医疗隐私安全保障@2x.png'
          },
          {
            title: '多方数据协同共享',
            content: `在数据隐私保护机制基础上通过基于权限的数据分发技术，实现多个医疗机构之间的数据交换与实时共享。
                    `,
            src: '多方数据协同共享@2x.png'
          },
        ]
      }
    }
  },
  mounted () {

  },
  methods: {

  },
  components: {
    header_nav,
    main_slider,
    text_slider,
    tech_analytics,
    budget_analytics,
    manage_way,
    tech_support,
    documents,
    road_map,
    recent_news,
    deal_platform,
    site_map,
    our_advantage,
    our_services,
    solve_solution,
    solution_main,
    process_map_line,
    column_item,
    foot
  }
}
</script>