<style scoped="">
.bg_all{
  background-image: url('../assets/images/SDPOA-2@2x.png'), 
  url('../assets/images/SDPOA共识@2x.png'), 
  url('../assets/images/水平分片技术-2@2x.png'), 
  url('../assets/images/状态断言机制-2@2x.png'), 
  url('../assets/images/状态映射证明-1@2x.png'), 
  url('../assets/images/子链证明-2@2x.png'), 
  url('../assets/images/水平分片技术-2@2x.png'), 
}
</style>
<template>
  <div>
    <header_nav></header_nav>
    <platform_service_slider></platform_service_slider>
    <service_description_pane 
    :subtitle="service_description_pane_config.subtitle"
    :description="service_description_pane_config.description"
    :data="service_description_pane_config.data"
    ></service_description_pane>
    <our_advantage :title="our_advantage_config.title"></our_advantage>
    <solve_solution :title="solve_solution_config.title" :data="solve_solution_config.data" :description="solve_solution_config.description"></solve_solution>
    <!-- <our_services></our_services> -->
    <!-- <text_slider></text_slider> -->
    <!-- <tech_analytics></tech_analytics> -->
    <!-- <budget_analytics></budget_analytics> -->
    <!-- <manage_way></manage_way> -->
    <!-- <tech_support></tech_support> -->
    <!-- <documents></documents> -->
    <!-- <road_map></road_map> -->
    <!-- <recent_news></recent_news> -->
    <!-- <deal_platform></deal_platform> -->
    <!-- <site_map></site_map> -->
    <foot></foot>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import platform_service_slider from '../modules/platform_service_slider.vue'
import service_description_pane from '../modules/service_description_pane.vue'
import text_slider from '../modules/text_slider.vue'
import tech_analytics from '../modules/tech_analytics.vue'
import budget_analytics from '../modules/budget_analytics.vue'
import our_advantage from '../modules/our_advantage.vue'
import our_services from '../modules/our_services.vue'
import solve_solution from '../modules/solve_solution.vue'
import manage_way from '../modules/manage_way.vue'
import tech_support from '../modules/tech_support.vue'
import documents from '../modules/documents.vue'
import road_map from '../modules/road_map.vue'
import recent_news from '../modules/recent_news.vue'
import deal_platform from '../modules/deal_platform.vue'
import site_map from '../modules/site_map.vue'
import foot from '../modules/foot.vue'

export default {
  data () {
    return {
      service_description_pane_config: {
        subtitle: '',
        description: '',
        data: [
          {
            'src': '数与产品简介-配图@2x.png',
            'tag': '',
            'title': '',
            'description': `数与区块链服务平台是基于可定制结构化权责证明共识SDPOA的
            国产可控区块链底层技术服务框架，由数与科技自主创新研发，
            拥有开箱即用、高性能、低延时、高隐私、高可拓展等技术领先
            优势，并支持多链跨链、可插拔自定义共识插件、智能合约管理
            平台、完备开发者工具等多种技术服务。`
          }
        ]
      },
      our_advantage_config: {
        title: '核心优势'
      },
      solve_solution_config: {
        title: '技术架构',
        description: '',
        data: [
          {
            nav: {
              'title': 'SDPOA共识',
              'img': 'SDPOA-2@2x.png'
            },
            content: {
              'background': 'SDPOA共识@2x.png',
              'title': 'SDPOA共识',
              'brief': `
                        根据具体场景和管理体系中不同的部门职能划分出权责结构，形成基于组织关系的结构化权责证明共识机制。
                              `
            }
          },
          {
            nav: {
              'title': '水平分片技术',
              'img': '水平分片技术-2@2x.png'
            },
            content: {
              'background': '水平分片技术@2x.png',
              'title': '水平分片技术',
              'brief': `
                        通过基于特定功能子链的不对等分片技术对系统在性能与功能上实现横向拓展。
                              `
            }
          },
          /*
          url('../assets/images/状态断言机制@2x.png'),
  url('../assets/images/状态映射证明@2x.png'),
  url('../assets/images/子链隔离@2x.png'),*/
          {
            nav: {
              'title': '状态断言机制',
              'img': '状态断言机制-2@2x.png'
            },
            content: {
              'background': '状态断言机制@2x.png',
              'title': '状态断言机制',
              'brief': `
                        使用断言技术将特定区块高度的链上状态写入区块数据，实现多链之间的状态映射。
                              `
            }
          },
          {
            nav: {
              'title': '状态映射证明',
              'img': '状态映射证明-1@2x.png'
            },
            content: {
              'background': '状态映射证明@2x.png',
              'title': '状态映射证明',
              'brief': `
                        基于权威验证人或权责角色进行状态证明，实现子链到主链的状态映射。
                              `
            }
          },
          {
            nav: {
              'title': '子链隔离',
              'img': '子链证明-2@2x.png'
            },
            content: {
              'background': '子链隔离@2x.png',
              'title': '子链隔离',
              'brief': `
                        多链数据隔离技术有效保障链上数据与状态的安全性，通过隔离证明完成隐私保护下的存证与计算。
                              `
            }
          },
        ]
      }
    }
  },
  mounted () {

  },
  methods: {

  },
  components: {
    header_nav,
    platform_service_slider,
    service_description_pane,
    text_slider,
    tech_analytics,
    budget_analytics,
    manage_way,
    tech_support,
    documents,
    road_map,
    recent_news,
    deal_platform,
    site_map,
    our_advantage,
    our_services,
    solve_solution,
    foot
  }
}
</script>