<style type="text/css" scoped="">
.main_content{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.right_content{
  width: 100%;
  margin-left: 200px;
  border: 1px solid #D6DAE2;
}
</style>
<template>
  <div class="main">
    <div>
      <header_nav></header_nav>
    </div>
    <div class="comm_width main_content">
      <left_nav></left_nav>
      <div class="right_content">
        <product_hash_manage_pane></product_hash_manage_pane>
      </div>
    </div>
  </div>
</template>
<script>
import left_nav from '@/modules/admins/left_nav'
import header_nav from '@/modules/admins/header.vue'
import product_hash_manage_pane from '@/modules/admins/product_manage/product_hash_manage_pane'

require('@/assets/index.css')
require('@/assets/admin.css')

export default {
  data () {
    return {}
  },
  methods: {

  },
  components: {
    left_nav,
    header_nav,
    product_hash_manage_pane
  }
}
</script>