<style>
  *{
    padding: 0px;
    margin: 0px;
  }
  a{
    color: #383838;
    text-decoration: none;
  }
  body{
    font-size: 13px;
  }
</style>
<style scoped="">
a{
  color: #383838;
}
.main{
  color: #383838;
  background: #F3F3F5;
}
.white_bg{
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.top_des_ct{
  width: 100%;
}
.record_brief_out_ct{
  padding-top: 34px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 3px #e6e6e6;
}
.bold_ft{
  font-weight: bold;
}
.product_router_node_ct{
  margin-top: 12px;
}
.z1{
  z-index: 1;
}
.z2{
  z-index: 2;
}
.z3{
  z-index: 3;
}
.z4{
  z-index: 4;
}
.z5{
  z-index: 5;
}
.z6{
  z-index: 6;
}
.z7{
  z-index: 7;
}
.z8{
  z-index: 8;
}
.z9{
  z-index: 9;
}
</style>
<template>
  <div class="main">
    <div class="white_bg">
      <product_router_top_des :times="data_config.data.queryTimes" :sku_id="sku_id"></product_router_top_des>
    </div>
    <div class="record_brief_out_ct white_bg z9">
      <record_brief :query_time="data_config.data.firstQueryTime" :query_location="data_config.data.firstQuerySite" :sku_id="sku_id"></record_brief>
    </div>
    <div class="qa_brief_record_ct white_bg z8" v-if="data_config.data.expressNum">
      <qa_brief_record :sku_id="sku_id" :express_num="data_config.data.expressNum"></qa_brief_record>
    </div>
    <div class="white_bg z7">
      <product_brief :sku_id="sku_id" :goods_pic="data_config.data.goodPicUrl" :goods_name="data_config.data.goodsName"></product_brief>
    </div>
    <div class="product_router_node_ct">
      <product_router_node :record="goods_config.data" :sku_id="sku_id"></product_router_node>
    </div>
  </div>
</template>
<script>
import product_router_top_des from '@/modules/product_router_top_des.vue'
import record_brief from '@/modules/record_brief.vue'
import qa_brief_record from '@/modules/qa_brief_record.vue'
import product_brief from '@/modules/product_brief.vue'
import product_router_node from '@/modules/product_router_node.vue'

import {
  get_sku_info,
  get_consumer_record,
  goods_chain_info
} from '@/service'

export default {
  data () {
    return {
      data_config: {
        on_load: true,
        data: {
          queryTimes: '...',
          firstQueryTime: '...',
          firstQuerySite: '...',
          expressNum: '...',
          goodsName: '...',
          errMsg: '...',
          errCode: '...',
          goodPicUrl: ''
        }
      },

      record_config: {
        on_load: true,
        data: []
      },

      goods_config: {
        on_load: true,
        data: []
      }
    }
  },
  computed: {
    'sku_id' () {
      return this.$route.params.sku_id;
    }
  },
  mounted () {
    this.load_sku_info();
    this.goods_chain_info();
  },
  methods: {
    async load_sku_info () {
      let data = await get_sku_info({'skuId': this.sku_id});
      for(let key in this.data_config.data){
        this.data_config.data[key] = data[key];
      }
      this.data_config.data.goodPicUrl = this.data_config.data.goodPicUrl || 'https://shuyuchain.com/pics/1589526619144770301-WX20200514-175236@2x.png'
      this.data_config.data.goodsName = this.data_config.data.goodsName || '金盏花舒缓爽肤水 控油收缩毛孔补水保湿'
    },
    
    async goods_chain_info () {
      let data = await goods_chain_info({'skuId': this.sku_id});
      this.data_config.data.expressNum = data.data.dealer.num;
      this.goods_config.data.splice(0, this.goods_config.data.length, ...data.data.nodes)
    }
  },
  components: {
    product_router_top_des,
    record_brief,
    qa_brief_record,
    product_brief,
    product_router_node
  }
}
</script>