<style scoped="">
.product_cert{
  padding: 0px 12px;
  font-size: 13px;
}
.pr_top_nav{
  height: 60px;
  display: flex;
  align-items: center;
}
.pr_back{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.left_arrow{
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    margin-right: 4px;
} 

.product_cert_item{
  margin: 9px;
  border: 1px solid #078CF4;
  padding: 2px;
}
.product_cert_item_i2{
  border: 1px solid #078CF4;
  padding-bottom: 143px;
  position: relative;
}
.center_text{
  text-align: center;
}
.t1{
  font-size: 26px;
  line-height: 1;
  padding-top: 35px;
  padding-bottom: 12px;
}
.t2{
  font-size: 16px;
  line-height: 1;
  color: #707070;
}
.items{
  margin: 15px 24px;
}
.item{
  padding-bottom: 14px;
}
.item_t1{
  font-size: 13px;
  color: #383838;
  line-height: 1;
  padding-bottom: 9px;
}
.item_t2{
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(7, 140, 244, 0.08);
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
  overflow: visible;
  word-break: break-all;
}
.tag{
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 75px;
  background-image: url('../assets/sy/数与区块链认证@2x.png');
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.rectangle{
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../assets/sy/边框@2x.png');
  background-size: 333px 492px;
  position: absolute;
  background-color: #fff;
  left: -4px;
  top: -4px;
}
.re_tr{
  left: auto;
  right: -4px;
  transform: rotate(90deg);
}
.re_bl{
  top: auto;
  bottom: -4px;
  transform: rotate(-90deg);
}
.re_br{
  left: auto;
  top: auto;
  right: -4px;
  bottom: -4px;
  transform: rotate(180deg);
}
</style>
<template>
  <div class="product_cert">

    <router-link :to="{'name': 'product_router', params: {sku_id: sku_id}}" class="pr_top_nav">
      <div class="pr_back">
        <div class="left_arrow"></div>
        <div>返回溯源结果</div>
      </div>
    </router-link>

    <div class="product_cert_item">
      <div class="product_cert_item_i2">

        <div class="rectangle"></div>
        <div class="rectangle re_tr"></div>
        <div class="rectangle re_br"></div>
        <div class="rectangle re_bl"></div>

        <div class="t1 center_text">溯源链证书</div>
        <div class="t2 center_text">多次验证 谨防假冒</div>

        <div class="items">
          <div class="item">
            <div class="item_t1">所在链</div>
            <div class="item_t2">溯源链</div>
          </div>
          <div class="item">
            <div class="item_t1">所在区块</div>
            <div class="item_t2" >
              <span v-if="data.data.length">
                {{ data.data[ data.data.length - 1 ].blockNum }}
              </span>
            </div>
          </div>
          <div class="item">
            <div class="item_t1">唯一编码</div>
            <div class="item_t2">
              <span v-if="data.data.length">
                {{ data.data[ data.data.length - 1 ].checksum }}
              </span>
            </div>
          </div>
        </div>

        <div class="tag"></div>

      </div>
    </div>

  </div>  
</template>
<script type="text/javascript">
import {
  query_has_by_skuid
} from '@/service'

export default {
  data () {
    return {
      data: {
        on_load: false,
        data: []
      }
    }
  },
  computed: {
    sku_id () {
      return this.$route.params.sku_id;
    }
  },
  mounted () {
    this.load();
  },
  methods: {
    async load () {
      let data = await query_has_by_skuid({
        skuId: this.sku_id
      });
      this.data.data.splice(0, this.data.data.length, ...data.data);
    }
  }
}
</script>