<style scoped="">
.ipt_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D6DAE2;
  min-height: 38px;
  margin-bottom: 7px;
}
.ipt_item_label{
  width: 68px;
  min-width: 68px;
  white-space: nowrap;
  display: flex;
  padding-left: 14px;
  font-size: 12px;
  color: #3B3B3B;
  border-right: 1px solid #ddd;
  font-weight: bold;
}
.base_concat_form{

}
.ipt_item_action_ct{
  width: 100%;
}
.ipt_item_action_ct input{
  outline: none;
  border: 0px solid #000;
  padding: 0px 14px;
}
.file_uplade_item_ct{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.action_btn{
  margin-top: 15px;
}
.hide_item{
  display: none;
}
.error_info{
  margin-bottom: 10px;
}
</style>
<template>
  <div class="base_concat_form">

      <div class="error_info" v-if="err_msg">
        {{ err_msg }}
      </div>
      <template  v-for="item, index in list">
        <div class="ipt_item" :key="index" :class="{'hide_item': item.hide}">

          <div class="ipt_item_label" :style="item.label_style">
            {{ item.text }}
          </div>

          <div class="ipt_item_action_ct"  v-if="base_types.find(i => i == item.type)" >
            <input :type="item.type" :disabled="item.disabled" name="" v-model="item.value" :placeholder="item.placeholder" @input="compute_val">
          </div>

          <div class="ipt_item_action_ct file_uplade_item_ct"  v-if="item.type=='img_upload_item'" >
            <img_upload_item type="" name="" :show_val="false" v-model="item.value" :placeholder="item.placeholder" @input="compute_val"></img_upload_item>
          </div>

        </div>
      </template>

      
  </div>
</template>
<script>
import img_upload_item from '@/components/img_upload_item.vue'
export default {
  data () {
    return {
      form_value: {},
      base_types: ['text', 'hidden', 'password']
    }
  },
  props: {
    err_msg: {
      type: String,
      default () {
        return ''
      }
    },
    list: {
      type: Array,
      default () {
        return [];
      }
    }
  },
  watch: {
    'form_value' () {
      this.$emit('input', this.form_value);
    },
    'list' () {
      this.compute_val();  
    }
  },
  mounted () {
    this.compute_val();
  },
  methods: {
    compute_val () {
      let form_value = {};
      this.list.forEach((item, index) => {
        form_value[item.name] = item.value;
      });
      this.form_value = form_value;
    }
  },
  components: {
    img_upload_item
  }
}
</script>