<style>
.img_item_ct{
    display: block;
    width: 100%;

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #eee;
}
.img_item_ct img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.img_upload_ct{
  position: relative;
  width: 100px;
  height: 100px;
}
.file_upload_form{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
}
</style>
<template>
    <div class="img_upload_ct">
        <div class="img_item_ct" :style="img_style">
            <!-- <img :src="value" /> -->
        </div>
        <file_upload v-model="value" @clear="$emit('clear')" class="file_upload_form" :style="style"></file_upload>
    </div>
    
</template>
<script>
import file_upload from '@/components/file_upload.vue'
export default {
    data () {
        return {}
    },
    props: {
        value: {
            type: String,
            default () {
                return ''
            }
        }
    },
    computed: {
      style () {
        let style = {backgroundColor: '#eee'}
        if(this.value){
          style.backgroundColor = 'rgba(0, 0, 0, 0)';
        }
        return style;
      },
      img_style () {
        let style = {
          'backgroundImage': `url(${this.value})`
        }
        return style;
      }
    },
    watch: {
        value () {
            this.$emit('input', this.value);
        }
    },
    methods: {

    },
    components: {
        file_upload
    }
}
</script>