<style scoped>
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
.load_circle{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #000;
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgb(19, 230, 241);
  box-shadow: 0px 0px 0px;
  animation: rotate .3s linear infinite;    
}
.while_load_circle{
  border: 1px solid #fff;
  border-left: 1px solid #0000;
}
.load_more_btn{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /*border: 1px solid #000;*/
}
.load_ct{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
</style>
<template>
    <div class="load_btn_ct">
        <div class="load_ct" v-if="on_load">
            <div class="load_circle" :class="circle_class"></div>
        </div>

        <div class="load_ct" v-if="!on_load" @click="$emit('start')">
            <div class="load_more_btn">
                {{ btn_text }}
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {}
    },
    props: {
        on_load: {
          type: Boolean,
          default () {
              return false;
          }
        },
        circle_class: {
          type: String,
          default () {
            return ''
          }
        },
        btn_text: {
          type: String,
          default () {
            return '加载更多'
          }
        }
    },
    methods: {

    }
}
</script>