<style scoped="">
.road_map_slider_ct{
  position: relative;
}
.circle_icon, .road_map_nav_circle_shadow:hover .circle_icon{
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-color: rgba(13,94,229,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.circle_inner1, .road_map_nav_circle_shadow:hover .circle_inner1{
  background-color: rgba(13,94,229,0.6);
  width: 10px;
  height: 10px;
  border-radius: 20px;
}
.road_map_item_content{
  display: flex;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 19px #eee;
  margin-left: 100px;
  margin-right: 100px;
}
.road_map_item_content_hide{
  display: none;
}
.road_map_item_text{
  margin-left: 10px;
}
.road_map_content_ct{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.road_map_navs{
  display: flex;
  justify-content: center;
  margin-left: 108px;
  margin-right: 108px;
}
.road_map_nav_item{
  width: 25%;
  cursor: pointer;
}
.road_map_item_point_ct{
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
}
.road_map_nav_circle, .road_map_nav_circle_shadow:hover .road_map_nav_circle {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: rgba(13,94,229,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.road_map_nav_title, .road_map_nav_circle_shadow:hover .road_map_nav_title{
  text-align: center;
  font-size: 30px;
  line-height: 1;
  padding-top: 30px;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(53,52,50,1);
}
.road_map_nav_circle_shadow .road_map_nav_circle{
  background-color: rgba(53,53,86,0.2);
}
.road_map_nav_circle_shadow .circle_icon{
  background-color:  rgba(53,53,86,0.4);
}
.road_map_nav_circle_shadow .circle_inner1{
  background-color:  rgba(53,53,86,0.6);
}
.road_map_nav_circle_shadow .road_map_nav_title{
  color: rgba(53,52,50,0.6);
  font-size: 18px;
}

.pre_icon{
  height: 60px;
  width: 60px;
  background-image: url('../assets/images/查看更多@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 20px 15px;
  box-shadow: 0px 0px 10px #eee;
  transform: rotate(-180deg);
  position: absolute;
  cursor: pointer;
}
.next_icon{
  background-image: url('../assets/images/查看更多@2x.png');
  transform: rotate(0deg);
  right: 0px;
}
@media (max-width: 800px) {
  .pre_icon{
    display: none;
  }
  .road_map_navs{
    margin-left: 0px;
    margin-right: 0px;
  }
  .road_map_nav_circle_shadow .road_map_nav_title{
    font-size: 12px;
  }
  .road_map_nav_title[data-v-22f3277a], .road_map_nav_circle_shadow:hover .road_map_nav_title{
    font-size: 12px;
  }
  .road_map_item_content{
    margin-left: 50px;
    margin-right: 50px;
    color: #464545;
    font-size: 14px;
    line-height: 20px;
  }
}
</style>
<template>
  <div class="road_map_slider_ct" @mouseover="update_is_hover(1)" @mouseout="update_is_hover(0)">
        
      <div class="pre_icon" @click="add_or_minus_index(-1)"></div>
      <div class="pre_icon next_icon" @click="add_or_minus_index(1)"></div>

      <div class="road_map_content_ct" >
        <div class="road_map_item_content" v-for="item, index in data" v-bind:class="{'road_map_item_content_hide': index != focus_index}">

            <div class="circle_icon">
              <div class="circle_inner1"></div>
            </div>

            <div class="road_map_item_text">
              {{ item.text }}
            </div>

        </div>
      </div>

      <div class="road_map_navs">

        <div class="road_map_nav_item" v-for="item, index in data" v-bind:class="{'road_map_nav_circle_shadow': index != focus_index}" @click="select_index(index)">

          <div class="road_map_item_point_ct">
            <div class="road_map_nav_circle">
              <div class="circle_icon">
                <div class="circle_inner1"></div>
              </div>
            </div>
          </div>

          <div class="road_map_nav_title">
            {{ item.title }}
          </div>

        </div>

      </div>

    </div>
  </div>
</template>
<script>
import { wait_time } from '../modules/utils'
export default {
  data () {
    return {
      is_in_hover: false,
      focus_index: 0,
      is_destroyed: false
    }
  },
  props: {
    data: {
      type: Array,
      default () {
        return [];
      }
    }
  },
  mounted () {
    this.auto_start();
  },
  methods: {
    select_index (index) {
      this.focus_index = index;
    },
    add_or_minus_index (step) {
      let new_index = this.focus_index + step;
      new_index = new_index >= this.data.length ? 0 : new_index;
      new_index = new_index < 0 ? this.data.length - 1 : new_index;
      this.focus_index = new_index;
    },
    async auto_start () {
      while(1){
        await wait_time(10);
        if(this.is_in_hover) continue;
        this.add_or_minus_index(1);
      }
    },
    update_is_hover (val) {
      this.is_in_hover = val;
    }
  }
}
</script>