*{
  margin: 0px;
  padding: 0px;
}
body{
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
a{
  text-decoration: none;
  color: #343458;
}

a:hover{
  color: #0D5EE5;
}
.pr_top_nav{
  color: #383838;
}
.comm_width{
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
}
.logo{
  background-image: url('./sy/logo@2x.png');
  height: 29px;
  background-size: contain;
  width: 91px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -8px;
}
.grid_bg{
  /*background-image: url('./images/logo@2x.png');*/
  background-size: contain;
  background-repeat: no-repeat;
}
.bg_lt_icon{
  /*background-image: url('../assets/images/信任缺失@2x.png');*/
}
.bg_all{
  /*background-image: url('../assets/images/商品真伪判断失真@2x.png'),*/
  /*url('../assets/images/快速定位@2x.png'),
  url('../assets/images/数据孤岛@2x.png'),
  url('../assets/images/信任缺失@2x.png'),
  url('../assets/images/全流程服务@2x.png'),
  url('../assets/images/零成本@2x.png'),
  url('../assets/images/数据隐私保护和数据透明@2x.png'),
  url('../assets/images/数与产品简介-配图@2x.png'),
  url('../assets/images/可信协同平台-平台服务@2x.png'),
  url('../assets/images/解决方案（区块链医疗）业务逻辑@2x.png'),
  url('../assets/images/全链路信息可朔源@2x.png'),
  url('../assets/images/多方信息共享透明@2x.png'),
  url('../assets/images/关于我们-使命@2x.png'),
  url('../assets/images/1578471629530.jpg'),
  url('../assets/images/关于我们-配图@2x.png'),
  url('../assets/images/快速校验真伪@2x.png'),
  url('../assets/images/多方数据协同共享@2x.png'),
  url('../assets/images/水平分片技术@2x.png'),
  url('../assets/images/状态断言机制@2x.png'),
  url('../assets/images/状态映射证明@2x.png'),
  url('../assets/images/子链隔离@2x.png'),
  url('../assets/images/高效核验商品真伪@2x.png'),
  url('../assets/images/解决方案（区块链朔源）业务逻辑@2x.png'),
  url('../assets/images/解决方案（区块链朔源）配图@2x.png'),
  url('../assets/images/解决方案（证书存证）配图@2x.png'),
  url('../assets/images/证书存证（安全不可篡改）@2x.png'),
  url('../assets/images/数据隐私隔离@2x.png'),
  url('../assets/images/证书存证-配图@2x.png'),
  url('../assets/images/解决方案（资产流转）配图@2x.png'),
  url('../assets/images/解决方案（资产流转）业务逻辑@2x.png'),
  url('../assets/images/提高流转效率@2x.png'),
  url('../assets/images/降低交易成本@2x.png'),
  url('../assets/images/可编程智能激励@2x.png'),
  url('../assets/images/医疗隐私安全保障@2x.png'),
  url('../assets/images/医疗资源均质化@2x.png'),
  url('../assets/images/可编程智能激励@2x.png'),
  url('../assets/images/关于我们-愿景@2x.png'),
  url('../assets/images/产业区块链综合平台@2x.png'),
  url('../assets/images/服务内容@2x.png'),
  url('../assets/images/一站式区块链解决方案@2x.png'),
  url('../assets/images/1578645004290.jpg'),
  url('../assets/images/解决方案2（证书存证）业务逻辑@2x.png'),*/
  
  }
.items_ct{

}

.base_pane_title{
  padding-top: 100px;
  font-size: 42px;
  line-height: 1;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 800px) {
  .comm_width{
    width: 100%;
  }
  .solution_title{
    font-size: 18px;
    padding: 20px;
  }
  .des_pane{
    padding: 20px;
  }
  .des_text_ct{
    padding: 0px;
    padding-bottom: 200px;
    background-position: bottom center;
  }
  .topic_image{
    top: auto;
    bottom: 0px;
  }
}

.error_info{
  color: #d22929;
  background: #ff572247;
  padding: 10px;
  border-radius: 4px;
}


.load_ct{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
.small_load_ct{
  padding: 0px;
}

@keyframes rotate_load {
  0% {
    transform: rotate(0deg);
    border: 3px solid #279649;
    border-left: 3px solid #fff; 
  }
  40% {
    border: 3px solid #279649;
    border-left: 3px solid #fff; 
  }
  50%{
    border: 3px solid #2be063;
    border-left: 3px solid #fff;
  }
  90%{
    border: 3px solid #2be063;
    border-left: 3px solid #fff;
  }
  100% {
    transform: rotate(1080deg);
    border: 3px solid #279649;
    border-left: 3px solid #fff; 
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.load_circle{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #000;
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px;
  animation: rotate .3s linear infinite;    
}
.while_load_circle{
  border: 1px solid #fff;
  border-left: 1px solid #0000;
}
.load_more_btn{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  /*border: 1px solid #000;*/
}


